li {
  cursor: pointer;
}
.imgContainer {
  overflow: hidden;
}

.imgContainer img {
  height: 400px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  text-align: center;
}

.wd-50 {
  width: 50%;
}

.ht-50 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ht {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #e6f9ff;
}

.blue-bg {
  background-color: #e6f9ff;
}

table.table {
  background-color: white;
}

.white-bg {
  background-color: white;
}

.yellow-bg {
  background-color: #ffff99;
}

.orange-bg {
  background-color: #ffb84d;
}

.green-bg {
  background-color: #71da71;
}

.violet-bg {
  background-color: #dd99ff;
}

/* ul {
  list-style-type: none;
} */
